<div class="card">
  <p-timeline [value]="events">
    <ng-template pTemplate="marker" let-event>
      <span
        class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
        [style]="{ 'background-color': event.color }"
      >
        <i [class]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <small class="p-text-secondary">{{ event.date }}</small>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
      {{ event.status }}
    </ng-template>
  </p-timeline>
</div>
